<!doctype html>
<html  class="loading"  lang="en-US"><!--------ملت وب مرجع خرید و فروش و همچنین انواع قالب های وردپرس و html mellatweb.com------------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Selio - downloaded from themelock.com - Real Estate HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/rtl.css">
</head>

<body class="rtl">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <div class="wrapper">

        <header class="pb">

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="01_Home.html">
                                    <!-- <img src="assets/images/logo2.png" alt=""> -->
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/" data-toggle="dropdown">
                                                صفحه اصلی
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/">بازگشت</a>
                                                <!-- <a class="dropdown-item" href="02_Home.rtl.html">Image Menu with Center Search 2</a>
                                                <a class="dropdown-item" href="03_Home.rtl.html">Map with Center Search</a>
                                                <a class="dropdown-item" href="04_Home.rtl.html">Geo SVG Map</a>
                                                <a class="dropdown-item" href="05_Home.rtl.html">Slider Header</a>
                                                <a class="dropdown-item" href="06_Home.rtl.html">Image Header with Description</a>
                                                <a class="dropdown-item" href="07_Home_Categories_and_Advanced_Search.rtl.html">More Search Features</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/ask" data-toggle="dropdown">
                                                طرح سوال
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item active" href="/ask">طرح سوال به وکلا و شماورین</a>
                                                <!-- <a class="dropdown-item" href="18_Half_Map.rtl.html">Half Map</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                مشاوره عمومی
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/public">طرح سوال رایگان</a>
                                                <!-- <a class="dropdown-item" href="22_List_Layout_With_Sidebar.rtl.html">List Layout with Sidebar</a>
                                                <a class="dropdown-item" href="11_Agent_Profile.rtl.html">Agent Profile</a>
                                                <a class="dropdown-item" href="24_Property_Single.rtl.html">Property Single</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="" data-toggle="dropdown">
                                                درباره ما
                                            </a>
                                            <!-- <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="12_Blog_Grid.rtl.html">Blog Grid</a>
                                                <a class="dropdown-item" href="13_Blog_Standart.rtl.html">Blog Standard</a>
                                                <a class="dropdown-item" href="14_Blog_Open.rtl.html">Blog Open</a>
                                                <a class="dropdown-item" href="10_About.rtl.html">About</a>
                                                <a class="dropdown-item" href="15_Contact.rtl.html">Contact</a>
                                                <a class="dropdown-item" href="09_404.rtl.html">404</a>
                                            </div> -->
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                        <ul class="navbar-nav">
                                            <li class="nav-item signin-btn">
                                                <a href="#" class="nav-link">
                                                    
                                                    <% if(ok == "false") { %>
                                                    <i class="la la-sign-in"></i>
                                                    <span><b style="font-size: large;" class="signin-op">ورود</b> یا <b style="font-size: large;" class="reg-op">عضویت</b></span>
                                                    <% } if(ok == "true") { %>
                                                    <span><a href="/panel"><b style="font-size: large;" >پنل کاربری</b> </a> یا <a href="/logout"><b style="font-size: large;" >خروج</b> </a></span>
                                                    <% } %>
                                                </a>

                                            </li>
                                            <!-- <li class="nav-item submit-btn">
                                                <a href="#" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <i class="icon-plus"></i>
                                                    <span>Submit Listing</span>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header><!--header end-->

        <div class="popup" id="sign-popup">
            <h3>ورود به حساب کاربری</h3>
            <div class="popup-form">
                <form action="/login" , method="POST">
                    <div class="form-field">
                        <input type="number" name="phone" placeholder="شماره موبایل">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="رمز عبور">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc1">
                                <label for="cc1">
                                    <span></span>
                                    <small>مرا بخاطر بسپار</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="">رمز عبور را فراموش کرده ام!</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">ورود</button>
                </form>
                <!-- <a href="#" title="" class="fb-btn"> <i class="fa fa-facebook"></i>Sign In With Facebook</a> -->
            </div>
        </div><!--popup end-->


        

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span>About</span></li>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>
        <div class="popup" id="register-popup">
            <h3>پساخ شما</h3>
            <div class="popup-form">
                <form action="/subans/<%- mes.id %>" method="POST">
                    <div class="form-field">
                        <input type="text" name="name" placeholder="نام">
                    </div>
                    <div class="form-field">
                        <input type="text" name="phone" placeholder="شماره موبایل">
                    </div>
                    <div class="form-field">
                        <input type="text" name="message" placeholder="پاسخ شما">
                    </div>
                    
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc2">
                                <label for="cc2">
                                    <span></span>
                                    <small>با شرایط ارسال پاسخ موافقم</small>
                                </label>
                            </div>
                        </div>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">ارسال</button>
                </form>
            </div>
        </div><!--popup end-->
        <section class="about-sec pt">
        	<div class="container">
        		<div class="about-us-sec">
        			<div class="row">
        				<div class="col-lg-6">
        					<div class="about-info">
        						<h3><%- mes.name %></h3>
        						<p><%- mes.message %></p>
                                <% if(ok == "false") {%>
                                    <a href="/" class="btn-default view-btn"><i class="icon-arrow-right-circle"></i>برای دیدن پاسخ ها باید وارد شوید</a>
                                <% } %>
                                <% if(ok == "true") {%>
                                    <% if(use[0].type == 1) { %>
                                    <a href="#" class="btn-default view-btn reg-op"><i class="icon-arrow-right-circle"></i>پاسخ دادن</a>
                                      <% } %>  
                                <% } %>
                            </div><!--about-info end-->
        				</div>
        				<div class="col-lg-6">
        					<div class="about-img">
        						<!-- <img src="https://via.placeholder.com/570x428" alt=""> -->
        					</div><!--about-img end-->
        				</div>
        			</div>
        		</div><!-- about-us-sec end-->
        	</div>
        </section><!--about-sec end-->
        <% if(ok == "true") { %>
        <a href="#" title="">    
            <section class="cta st2 section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cta-text">
                                <h2>پاسخ ها</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
        <section class="about-sec pt">
        	<div class="container">
        		<div class="about-us-sec">
                    <% ans.forEach(ans =>{ %>
        			<div class="row">
        				<div class="col-lg-6">
        					<div class="about-info">
        						<h3><%- ans.name %></h3>
        						<p><%- ans.message %></p>
                                <% if(ok == "false") {%>
        						<!-- <a href="/" class="btn-default view-btn"><i class="icon-arrow-right-circle"></i>برای دیدن پاسخ ها باید وارد شوید</a> -->
                                <% } %>
                            </div><!--about-info end-->
        				</div>
        				<div class="col-lg-6">
        					<div class="about-img">
        						<!-- <img src="https://via.placeholder.com/570x428" alt=""> -->
        					</div><!--about-img end-->
        				</div>
        			</div>
        		</div><!-- about-us-sec end-->
                <% }) %>
        	</div>
        </section><!--about-sec end-->

     <% } %>
      
        


    </div><!--wrapper end-->



    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/assets/js/map-cluster/infobox.min.js"></script>
    <script src="/assets/js/map-cluster/markerclusterer.js"></script>
    <script src="/assets/js/map-cluster/maps.js"></script>



</body>

</html>