<!doctype html>
<html  class="loading"  lang="en-US"><!--------ملت وب مرجع خرید و فروش و همچنین انواع قالب های وردپرس و html mellatweb.com------------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Selio - downloaded from themelock.com - Real Estate HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="assets/css/rtl.css">
</head>

<body class="rtl">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <div class="wrapper">

        <header class="pb">

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="01_Home.html">
                                    <!-- <img src="assets/images/logo2.png" alt=""> -->
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/" data-toggle="dropdown">
                                                صفحه اصلی
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/">بازگشت</a>
                                                <!-- <a class="dropdown-item" href="02_Home.rtl.html">Image Menu with Center Search 2</a>
                                                <a class="dropdown-item" href="03_Home.rtl.html">Map with Center Search</a>
                                                <a class="dropdown-item" href="04_Home.rtl.html">Geo SVG Map</a>
                                                <a class="dropdown-item" href="05_Home.rtl.html">Slider Header</a>
                                                <a class="dropdown-item" href="06_Home.rtl.html">Image Header with Description</a>
                                                <a class="dropdown-item" href="07_Home_Categories_and_Advanced_Search.rtl.html">More Search Features</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/ask" data-toggle="dropdown">
                                                طرح سوال
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item active" href="/ask">طرح سوال به وکلا و شماورین</a>
                                                <!-- <a class="dropdown-item" href="18_Half_Map.rtl.html">Half Map</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                مشاوره عمومی
                                            </a>
                                            <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="/public">طرح سوال رایگان</a>
                                                <!-- <a class="dropdown-item" href="22_List_Layout_With_Sidebar.rtl.html">List Layout with Sidebar</a>
                                                <a class="dropdown-item" href="11_Agent_Profile.rtl.html">Agent Profile</a>
                                                <a class="dropdown-item" href="24_Property_Single.rtl.html">Property Single</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="" data-toggle="dropdown">
                                                درباره ما
                                            </a>
                                            <!-- <div class="dropdown-menu animated">
                                                <a class="dropdown-item" href="12_Blog_Grid.rtl.html">Blog Grid</a>
                                                <a class="dropdown-item" href="13_Blog_Standart.rtl.html">Blog Standard</a>
                                                <a class="dropdown-item" href="14_Blog_Open.rtl.html">Blog Open</a>
                                                <a class="dropdown-item" href="10_About.rtl.html">About</a>
                                                <a class="dropdown-item" href="15_Contact.rtl.html">Contact</a>
                                                <a class="dropdown-item" href="09_404.rtl.html">404</a>
                                            </div> -->
                                        </li>
                                    </ul>
                                    <div class="d-inline my-2 my-lg-0">
                                        <ul class="navbar-nav">
                                            <li class="nav-item signin-btn">
                                                <a href="#" class="nav-link">
                                                    
                                                    <% if(ok == "false") { %>
                                                    <i class="la la-sign-in"></i>
                                                    <span><b style="font-size: large;" class="signin-op">ورود</b> یا <b style="font-size: large;" class="reg-op">عضویت</b></span>
                                                    <% } if(ok == "true") { %>
                                                    <span><a href="/panel"><b style="font-size: large;" >پنل کاربری</b> </a> یا <a href="/logout"><b style="font-size: large;" >خروج</b> </a></span>
                                                    <% } %>
                                                </a>

                                            </li>
                                            <!-- <li class="nav-item submit-btn">
                                                <a href="#" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                    <i class="icon-plus"></i>
                                                    <span>Submit Listing</span>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header><!--header end-->

        <div class="popup" id="sign-popup">
            <h3>ورود به حساب کاربری</h3>
            <div class="popup-form">
                <form action="/login" , method="POST">
                    <div class="form-field">
                        <input type="number" name="phone" placeholder="شماره موبایل">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="رمز عبور">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc1">
                                <label for="cc1">
                                    <span></span>
                                    <small>مرا بخاطر بسپار</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="">رمز عبور را فراموش کرده ام!</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">ورود</button>
                </form>
                <!-- <a href="#" title="" class="fb-btn"> <i class="fa fa-facebook"></i>Sign In With Facebook</a> -->
            </div>
        </div><!--popup end-->

        <div class="popup" id="register-popup">
            <h3>عضویت</h3>
            <div class="popup-form">
                <form action="/signin" method="POST">
                    <div class="form-field">
                        <input type="text" name="name" placeholder="نام و نام خانوادگی">
                    </div>
                    <div class="form-field">
                        <input type="number" name="phone" placeholder="شماره موبایل">
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="رمز عبود">
                    </div>
                    <div class="form-cp">
                        <div class="form-field">
                            <div class="input-field">
                                <input type="checkbox" name="ccc" id="cc2">
                                <label for="cc2">
                                    <span></span>
                                    <small>با شرایط سایت موافقم</small>
                                </label>
                            </div>
                        </div>
                        <a href="#" title="" class="signin-op">ایا حساب کاربری دارید؟</a>
                    </div><!--form-cp end-->
                    <button type="submit" class="btn2">عضویت</button>
                </form>
            </div>
        </div><!--popup end-->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <!-- <h3>Blog Standard</h3> -->
                    <ul>
                        <li><a href="/" title="">صفحه اصلی</a></li>
                        <li><span>aسوالات رایگان</span></li>
                    </ul>
                </div><!--pager-sec-details end-->
            </div>
        </section>
        <% if(ok == "true" && use.type == 0) { %>
        <a href="/free_ask"><button type="button" class="btn2">طرح سوال بصورت رایگان</button></a>
        <% } if(ok == "false") { %>
        <a href="/"><button type="button" class="btn2">جهت طرح سوال بصورت رایگان باید اول وارد شوید</button></a>
        <% } if(use.type == 1){ %>
        <a href=""><button type="button" class="btn2">طرح سوال صرفا ویژه کاربران میباشد</button></a>
        <% } %>

        <section class="blog-standard section-padding">
            <div class="container">
                <div class="blog-single-details">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-posts">
                                <% mes.forEach(m =>{ %>
                                    <% if(!m.vakil) { %>

                                <div class="blog-single-post">
                                    <div class="post_info">
                                        <ul class="post-nfo">
                                            <li><i class="la la-calendar"></i>April 25, 2018</li>
                                            <li><i class="la la-comment-o"></i><a href="#" title="">4 نظر</a></li>
                                            <li><i class="la la-bookmark-o"></i><a href="#" title="">ذخیره</a></li>
                                        </ul>
                                        <h3><a href="/messagedet/<%- m.id %>" title=""><%- m.name %></a></h3>
                                        <p><%- m.message %></p>
                                        <a href="/messagedet/<%- m.id %>" title="" class="btn-default">جزئیات</a>
                                    </div>
                                    <a href="/messagedet/<%- m.id %>" title="" class="ext-link"></a>
                                </div><!--blog-single-post end--> 
                                <% } %>
                                <% }) %>  
                                
                            </div><!--blog-posts end-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link" href="#"><b>1</b></a></li>
                                    <li class="page-item"><a class="page-link" href="#"><b>2</b></a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><b><i class="la la-arrow-right"></i></b></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebar">
                                <div class="widget widget-search">
                                    <form>
                                        <input type="text" name="search" placeholder="Search here ...">
                                        <button type="submit"><i class="la la-search"></i></button>
                                    </form>
                                </div><!--widget-search end-->
                                <div class="widget widget-catgs">
                                    <h3 class="widget-title">Categories</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>معامله</span></a>
                                            <span>7</span>
                                        </li>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>خانواده</span></a>
                                            <span>15</span>
                                        </li>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>املاک</span></a>
                                            <span>4</span>
                                        </li>
                                        <li>
                                            <a href="#" title=""><i class="la la-angle-right"></i><span>وصیت</span></a>
                                            <span>1</span>
                                        </li>
                                    </ul>
                                </div><!--widget-catgs end-->
                              
                             
                                
                            </div><!--sidebar end-->
                        </div>
                    </div>
                </div><!--blog-single-details end-->
            </div>
        </section><!--blog-single-sec end-->
      


    </div><!--wrapper end-->


    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="assets/js/map-cluster/infobox.min.js"></script>
    <script src="assets/js/map-cluster/markerclusterer.js"></script>
    <script src="assets/js/map-cluster/maps.js"></script>



</body>

</html>